<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8;" />
<title>{% block title %} {{ blog.title}}{% endblock %}</title>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/styles/lights.css" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="{{ blog.title }} RSS Feed" href="{{ blog.feedurl }}" />
<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
<!--[if IE 6]>
<script src="/themes/{{ blog.theme_name }}/inc/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
    DD_belatedPNG.fix('#logo_img, #bg_header, #inner_body_block_head, #body_block, .mysite_widget_divider, #inner_body_block_foot, .header_socials img, #s');
</script>
<![endif]-->
{% block head_block %}{% endblock %}
</head>
<body class="alignC sidebar_1R">
<div id="bg_middle">
	<div id="bg_header">
		<div id="bg_footer">
<div id="container">
<div id="header">
	<div id="inner_header">
		<div id="site_name"><a href="{{blog.baseurl}}/">{{blog.title}}</a></div>
		<div id="tag_line">{{blog.subtitle}}</div>

        <!-- Social Media Icon-->
        <div id="social_media">
	        <div class="header_socials"><a href="{{ blog.feedurl }}"><img alt="rss" src="/themes/{{ blog.theme_name }}/images/rss.png"/></a></div>
	        <div class="header_socials"><a href="#"><img alt="email" src="/themes/{{ blog.theme_name }}/images/email.png"/></a></div>
	        <div class="header_socials"><a href="#"><img alt="twitter" src="/themes/{{ blog.theme_name }}/images/twitter.png"/></a></div>
	        <div class="header_socials"><a href="#"><img alt="facebook" src="/themes/{{ blog.theme_name }}/images/facebook.png"/></a></div>
        </div><!-- social_media -->


        <div id="main_navigation" class="jqueryslidemenu">
            <ul>
	            <li><a href="{{ blog.baseurl }}">Home</a></li>
	            {{self.m_list_pages}}
	        </ul>
        </div><!-- main_navigation -->
		
        <div id="header_searchbar">
            <div id="mysite_search">
	            <form method="get" id="searchform" action="http://www.google.com/search">
		            <input type="text" value="Search" onclick="value=''" name="as_q" id="s" class="commentTextBox" />
		            <input type="submit" id="searchsubmit" value="Search" />
	            </form>
            </div>
        </div>						
		<div id="header_image" ></div>																			
		<div id="header_overlay"></div>

		<br class="clearboth" />
		
	</div><!-- inner_header -->
</div><!-- header -->
	
<div id="inner_body_block_head"></div>
<div id="body_block">
	<div id="primary">
		<div class="content">
            {%block content %}{%endblock%}
        

<br class="clearboth" />		
</div><!-- body_block -->
<div id="inner_body_block_foot"></div><!-- inner_body_block_foot -->
<div id="footer">
	<div id="inner_footer">
		<div id="footer_nav">
		    <ul>
                <li><a href="{{ blog.baseurl }}">Home</a></li>
                {{self.m_list_pages}}
	            {%if self.is_admin%}
                <li><a href="/admin">Admin</a></li>
                {%endif%}
                {%if self.is_login%}
                <li><a href="{{self.logouturl}}">Logout</a></li>
                {%else%}
                <li><a href="/admin" style="margin-left:5px;">Login</a></li>
                {%endif%}
            </ul>
		</div>						
		<div id="footer_link">
		    <a href="http://code.google.com/appengine/">Powered by Google App Engine</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		    <a href="http://webtreats.mysitemyway.com">Designed by WebTreats</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		    由 <a href="http://xuming.net">xuming</a> 提供 <a href="http://code.google.com/p/micolog">Micolog</a>程序
		</div>
		<br class="clearboth" />				
	</div><!-- inner_footer -->
</div><!-- footer -->
</div><!-- Container -->
</div><!-- bg_footer -->
</div><!-- bg_header -->
</div><!-- bg_middle -->
<script type="text/javascript">
    /* <![CDATA[ */
    function expandIt(getIt) { getIt.style.display = (getIt.style.display == "none") ? "" : "none"; }
    /* ]]> */
</script>
</body>
</html>