<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %} {{ blog.title}}{% endblock %}</title>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}"  />
<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
<link rel="icon" type="image/ico" href="/favicon.ico">

<script src="/static/js/jquery-1.2.6.min.js"></script>
<link rel="pingback" href="/pingback" />
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
{% block head_block %}{% endblock %}
</head>
<body>
<div id="loading">
<span style="position:absolute;top:2px;right:5px;background:#CC4444 none
     repeat scroll 0% 0%;color:white;padding:0 10px;line-height:16px;">
 <img src="/themes/idevelop/images/loading.gif"/>Loading...
 </span>
</div>

<div id="wrapper">
<div id="header">
	<span class="left"></span>
    <span class="right"></span>
    <span class="logos"><a href="{{ blog.baseurl }}"></a> </span>
    <div class="nav">
        <ul class="menu">
            <li class="home current_page_item"><a href="{{ blog.baseurl }}">Home</a></li>
            {{self.m_list_pages}}
            {% block topmenu %}
            {% endblock %}
        </ul>

        <form id="cse-search-box" class="search" action="/search">
    <div>    <input type="hidden" name="cx" value="009857243477225109094:myrg_1yal_0" />
    <input type="hidden" name="cof" value="FORID:9" />
    <input type="hidden" name="ie" value="UTF-8" />
    	<input name="q" type="text" size=31 id="s" onblur="if (this.value =='') this.value='Search Blog...'" onfocus="this.value=''" onclick="if (this.value=='Search Blog...') this.value=''" value="Search Blog..." class="inputbox" />
    	<input type="submit" name="sa" id="button" value="搜索" class="go" />
    </div>
</form>

    </div>
</div>
<hr />
<div id="content_wrap">



{% block content %}{% endblock %}

<hr />
</div>
<div id="footer">
	<p> 
    &copy;2009 <a href="{{ blog.baseurl }}">{{ blog.title }}</a> Powered by <a
        href="http://code.google.com/appengine/">Google app engine</a> | Designed by <a
        href="http://www.xuhel.cn/wordpress/wp-theme-idevelop.html">Xu.hel</a>
    | 由 <a href="http://xuming.net">徐明</a> 提供 <a
        href="http://code.google.com/p/micolog/downloads/list">Micolog</a>
    程序
    </p>
</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-805972-4");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
